/*//STYLESHEET FOR LOGIN PAGE//*/
/*Styling for html*/
html {
    height: 100%;
    margin: 0;
}

/*Styling for body*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #fff;
}

/*Styling for header*/
.header {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 5px solid grey;
}

/*Media tag to align header text to right to prevent it from being hidden by logo*/
@media screen and (max-width: 700px){
    .header {
        text-align: right;
    }
}

/*Styling for logo*/
.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    height: auto;
    width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Styling for login box*/
.login-box {
    width: 525px;
    padding: 10px 20px;
    border: 5px solid grey;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

/*/Styling for buttons/*/
/*Default styling for button */
.btn {
    background-color: #22e710ee;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Hover styling for button*/
.btn:hover {
    background-color: #08ae19;
}

/*Styling for text boxes*/
.textbox {
    margin-bottom: 20px;
}

/*Styling for main div for login*/
#log-in{
    margin: 150px auto;
}

/*Styling for main div for sign up*/
#sign-up{
    margin: 100px auto;
}

/*Styling for element with id first name  */
#firstname {
    float: left;
    margin-right: 4px;
}

/*/Styling for links/*/
/*Main styling for links*/
a {
    color: white;
}

/*Hover styling for links*/
a:hover {
    color: #08ae19;
}