/*//STYLESHEET FOR SELLER PAGE//*/
/*Styling for html*/
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/*Styling for body*/
body {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color:#fff;
    width: min-content;
}

/*Styling for header*/
header {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid grey;
}

#home-header {
    width: 100%;
}

#home-body {
    justify-content: center;
}

/*Styling for logo*/
.logo {
    width: 220px;
    background-repeat: no-repeat;
}

/*Styling for boxes where content is displayed in*/
.content-box {
    width: max-content;
    padding: 20px 20px;
    border: 5px solid grey;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 120px;
    max-width: 100%;
}

/*/Styling for buttons/*/
/*Default styling for button */
.btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #22e710ee;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Hover styling for button*/
.btn:hover {
    background-color: #08ae19;
}

#submitBtn, #resetBtn {
    padding: 15px 30px;
}

/*Styling for text boxes*/
.textbox {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    display: block;
    height: 3em
    
}

label {
    font-size: 1.1em;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
    display: block;
}

/*/Styling for links/*/
/*Main styling for links*/
a {
    color: white;
    font-size: 1.3em;
    text-decoration: underline #1eff00;
}

/*Hover styling for links*/
a:hover {
    color: #08ae19;
}

.link-title-container {
    display: block;
    margin-top: -4px;
    text-align: end;
}

/*Styling for table of items*/
/*Puts bottom border on each row of the table*/
table { 
    border-collapse: collapse; 
    width: max-content;

}

tr { 
    border-bottom: whitesmoke solid thin;
    background-color: grey; 
}  

th {
    text-align: center;
    padding: 5px;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100px;
}

/*Styling for disabled rows*/
.row-data[disabled], .itemTextbox[disabled] {
    background-color:  rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid grey;

}

.itemTextbox {
    margin: auto;
    width: 90%;
    height: 5em;
    word-break: break-word;
    overflow: auto;
}