html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    background-color: #000;
    background-image: url("../../Formatting/background_img3.jpg");
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid black;
}

.header {
    position:  fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .header {
        text-align: right;
    }
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    height: auto;
    width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn {
    background-color: #b34b0b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #fc2807;
}

a {
    color: white;
}

a:hover {
    color: rgb(173, 100, 16);
}


.item {
    border: 1px solid #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item h2 {
    margin: 10px 0;
}

.item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/*jnnjynjj*/

.item a:hover {
    background-color: #0056b3;
}

.search-bar {
    top: 10px;
    left: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    position: absolute;
    width: fit-content;
    margin-bottom: 20px;
}

.search-bar input,
.search-bar select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.search-bar button {
    top: 10px;
    left: 250px;
    padding: 8px 14px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #1eff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #32ab11;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.grid-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6); /* Black with 60% opacity */
    top: 70px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Ensures only one row */
    gap: 10px;
    padding: 10px;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.grid-item {
    min-width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #979595;
    border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #525050;
}

.item_description {
    flex: 1;
    border: 1px solid #ccc; 
    padding: 10px;
    background-color: #f9f9f9;
}

.sell-box {
    position:absolute;
    top: 10px;
    right: 50px;
    margin-top: 10px;
    text-align: center;
}
.sell-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #22e710ee;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sell-button:hover {
    background-color: #08ae19;
}


.basket-icon {
    position: absolute;
    top : 18px;
    right: 190px;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    background-image: url("../shopping.png");
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}